#wrapper {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:80%;
}
#head{
	margin: 0;
	font-size: 4em;
	font-family: tahoma;
}
#desc{
	font-family: tahoma;
}
#title {
	font-family: tahoma;
	color: red;
}
#date{
	font-family: tahoma;
}

#details{
	font-family: tahoma;
	color: blue;
}

#login {
	position: absolute;
	left: 30%;
	top: 100px;
	border: 1px solid #AEAEAE;
	margin: auto;
	padding: 0;
	width: 40%;
	height: 200px;
	background-color: #DCDCDC;
}

#adminmenu {
	padding-left: 0;
}

#adminmenu li {
	float: left;
	list-style: none;
	margin-right: 20px;
	font-size: 1.1em;
}

#content{
	font-size: 3em;
}

#btn{
	background-color: #00BDBA; 
}

.clear {
	clear: both;
}

.error {
	position: absolute;
	left: 17%;
	top: -40px;
	padding: 0.2em;
	margin-top: 70px;
	margin-left: 230px;
	margin-bottom: 0;
	border: 1px solid #990000;
	width: 30%;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

li{
	color: #555555;
	font-size: 16px;
	line-height: 1.5em;
	
}

a {
	text-decoration: none;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

table {width:98%; text-align:left; border:1px solid #DDDDDD; font-size:1.2em; color:#000; background:#fff; margin-bottom:10px;}
table th {background-color:#E5E5E5; border:1px solid #BBBBBB; padding:3px 6px; font-weight:normal; color:#000;}
table tr td {border:1px solid #DDDDDD; padding:5px 6px;}
table tr.alt td {background-color:#E2E2E2;}
table tr:hover {background-color:#F0F0F0; color:#000;}